@import url('https://fonts.googleapis.com/css2?family=Alike&family=Cherry+Cream+Soda&family=Oranienbaum&family=Space+Grotesk:wght@300..700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Carrito */
.cart-wrapper {
    position: relative;
}

.btn-cart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffc107;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    transition: .3s ease;
    text-decoration: none;
    color: #28a745;
}

.btn-cart:hover {
    background: #e0a800;
    transform: scale(1.05);
}

/* Badge contador */
.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #dc3545;
    color: white;
    font-size: 14px;
    font-weight: bold;
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    border: 1.5px solid #ffc107;
}

/* carrusel */
.height-imagen {
   width: 100%;
   height: 500px;
   object-fit: cover;
}

/* Productos */
.producto-card {
    background: white;
    border-radius: 18px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: .3s ease;
}

.producto-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.14);
}

.producto-img-wrapper {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.producto-img-wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.producto-card h3 {
    font-size: 15px;
    min-height: 48px;
    margin: 10px 0;
}


.producto-card p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #28a745;
    margin-top: auto;
}

.btn-agregar {
    background: linear-gradient(135deg,#ffc107,#ff9800);
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    color: #333;
    font-weight: 600;
    transition: .3s ease;
}

.btn-agregar:hover {
    background: linear-gradient(135deg,#ffb300,#ff6f00);
    transform: scale(1.05);
}

/* #contador-carrito {
    margin: 20px;
    font-weight: bold;
} */

/* #vaciar-carrito {
    margin: 10px 20px;
    padding: 8px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#vaciar-carrito:hover {
    background-color: darkred;
} */

/* mensaje de carga */
#mensaje-cargando {
    font-style: italic;
    color: #555;
    margin: 20px;
}

